<div class="d-inline-flex p-2">
  <nb-card accent="primary">
    <nb-card-header>Lunes</nb-card-header>
    <nb-card-body>
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>Product Details</nb-accordion-item-header>
          <nb-accordion-item-body>
            Item Content
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </nb-card-body>
  </nb-card>
  <nb-card accent="primary">
    <nb-card-header>Lunes</nb-card-header>
    <nb-card-body>
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>Product Details</nb-accordion-item-header>
          <nb-accordion-item-body>
            Item Content
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </nb-card-body>
  </nb-card>
  <nb-card accent="primary">
    <nb-card-header>Lunes</nb-card-header>
    <nb-card-body>
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>Product Details</nb-accordion-item-header>
          <nb-accordion-item-body>
            Item Content
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </nb-card-body>
  </nb-card>
  <nb-card accent="primary">
    <nb-card-header>Lunes</nb-card-header>
    <nb-card-body>
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>Product Details</nb-accordion-item-header>
          <nb-accordion-item-body>
            Item Content
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </nb-card-body>
  </nb-card>
  <nb-card accent="primary">
    <nb-card-header>Lunes</nb-card-header>
    <nb-card-body>
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>Product Details</nb-accordion-item-header>
          <nb-accordion-item-body>
            Item Content
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </nb-card-body>
  </nb-card>
  <nb-card accent="primary">
    <nb-card-header>Lunes</nb-card-header>
    <nb-card-body>
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>Product Details</nb-accordion-item-header>
          <nb-accordion-item-body>
            Item Content
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </nb-card-body>
  </nb-card>
  <nb-card accent="primary">
    <nb-card-header>Lunes</nb-card-header>
    <nb-card-body>
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>Product Details</nb-accordion-item-header>
          <nb-accordion-item-body>
            Item Content
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </nb-card-body>
  </nb-card>
</div>
