<div class="row">
  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
  <div class="col-xxl-5">
    <ngx-calendar-kit></ngx-calendar-kit>
  </div>
  <ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>Template Dialog</nb-card-header>
      <nb-card-body>{{ data }}</nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()">Close Dialog</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
</div>
